<% content_for :head do %>
  <%= javascript_include_tag 'show', 'data-turbolinks-track' => true %>
<% end %>

<%= render partial: "navbar" %>

<% if session[:location] %>
  <%= content_tag :div, id: "coordinates", data: {lat: session[:location]['latitude'], lng: session[:location]['longitude']} do %>
  <% end %>
<% end %>

<div class="container dashboard">
  <div class="row">
    <div class="col-lg-12 text-center">

      <div id="weather"></div>
<%= puts params[:temps_f] %>
<%= puts Weather.current_range(params[:temp_f]) %>
      <h3>This weather is perfect for...
        <div class="btn-group">
          <button type="button" class="btn btn-default" id="recommended"><%= @recommended %></button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <% @drinks.each do |drink| %>
              <li><%= link_to drink.drink_type, "#", class: drink.id %></li>
            <% end %>
          </ul>
        </div>
      !</h3>

    </div>
  </div>
</div>

<div id="map"></div>

<script async defer src='https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_browser_key'] %>&callback=initMap'></script>
