<%= render partial: "shared/navbar" %>
<% if current_user %>
  <h1><%= current_user.name %></h1>
<% end %>

<br>

<div id="weather">
  <% if weather_data[:city].nil? || weather_data[:state].nil? %>
    <h4>Unable to access weather conditions at this time. :(</h4>
  <% else %>
    <h3><%= weather_data[:city] %>, <%= weather_data[:state] %></h3>
    <h1><%= weather_data[:temperature] %></h1>
  <% end %>
</div>
