<%= render partial: "shared/navbar" %>
<% if current_user %>
  <h1><%= current_user.name %></h1>
<% end %>

<br>

<div id="weather">
  <h3><%= @display_data[:city] %>, <%= @display_data[:state] %></h3>
  <h1><%= @display_data[:temperature] %></h1>
</div>
