<!DOCTYPE html>
<html>
  <head>
    <title>Drank</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="google-signin-client_id" content=<%= ENV['google_client_id'] %>>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
